@import "tailwindcss";

@theme {
  --font-roboto: 'Roboto', sans-serif;
  --color-background: #f8f9fa;
  --color-foreground: #202124;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-roboto);
}
